@media (max-width: 670px) {
    .header-right {
      display: none;
    }
    
    .hamburger {
      display: block;
    }

    .top-wrapper h1 {
        font-family: 'Impact';
        letter-spacing: 10px;
        color: rgb(255, 255, 255);
        font-size: 100px;
        line-height: 550px;
        margin: 10px 0 30px 0;
        font-weight: 300;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .top-wrapper {
        width: 100%;
        height: 320px;
    }

    .schedule-wrapper {
        width:  100%;
        height: 400px;
    }

    .match h1 {
        margin-top: 30px;
        font-size: 22px;
    }

    .schedule-inner {
        background-color: rgba(0, 0, 0, 0.9);
        width: 450px;
        height: 250px;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        top: 70px;
        left: 25px;
    }

    .header {
        width: 100px;
        margin: 0 auto;
        text-align: center;
    }

    .schedule {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .match {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .section-title h3 {
        font-size: 22px;
    }

    h3:before, h3:after {
        content: "";
        background-color: #616161;
        display: inline-block;
        width: 20px;
        height: 1px;
        margin: 0 2rem;
        vertical-align: middle;
    }

    .interview-box {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        margin-left: 0;
        margin-bottom: 30px;
        color: black;
    }

    .contact-form {
        display: inline-block;
        vertical-align: top;
        width: 45%;
    }

    .contact-about p {
        margin: 0 0 20px 20px;
        line-height: 42px;
    }

    
}
