/*---共通---*/
body {
    margin: 0;
    font-weight: 400;
    color:white;
}
.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
    position :relative;
}

.section-title {
    color:#222;
    padding-top: 60px;
    padding-bottom: 10px;
    text-align: center;
}

.section-title h3 {
    color:#222;
    margin: 10px 0;
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
}


h3:before, h3:after {
    content: "";
    background-color: #616161;
    display: inline-block;
    width: 120px;
    height: 1px;
    margin: 0 6rem;
    vertical-align: middle;
}

ul {
    margin: 0;
    padding: 0;
}

h4 {
    color: black;
    font-weight: 400;
}

h5 {
    color: #444;
    font-size: 18px;
}
  
.gray-section {
    background: #f4f4f4;
    color: #888;
}

a {
    text-decoration: none;
    color: #323A45;
    transition: all .3s;
  }
  
  a:hover {
    color: #5983ff;
    text-decoration: none;
  }

/*---header---*/
header {
    
    background-color: rgba(196, 4, 4,1);
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.header-menu {
    float: right;
}


.header-menu a {
    float: left;
    color: rgb(255, 251, 251);
    padding: 20px;
    font-weight: 600;
    text-decoration: none;
}

.header-menu a:hover {
    color: #141961;
    transition: color .3s;
}

.header-logo {
    color: white;
    float: left;
    font-size: 24px;
    padding: 15px 100px;
    font-family: 'Impact';
    letter-spacing: 3px;
    cursor: pointer;
}

/*---top---*/
.top-wrapper {
    margin: 0 auto;
    background-image: url(game2.jpeg);
    background-size: cover;
    height: 800px;
}

.top-inner {
    background-color: rgba(0, 0, 0, 0.1);
    height: 600px;
}

.top-wrapper h1 {
    font-family: 'Impact';
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    font-size: 100px;
    line-height: 350px;
    margin: 10px 0 30px 0;
    font-weight: 400;
}

  /*---schedule---*/
.schedule-wrapper {
    background-image: url(supporter.jpg);
    background-size: cover;
    height: 800px;
    position:relative;
}

.header {
    background-color: rgba(196, 4, 4,1);
    width: 200px;
    margin: 0 auto;
}
  
.schedule-inner {
    background-color: rgba(0, 0, 0, 0.9);
    width: 700px;
    height: 400px;
    margin: 0 auto;
    position: absolute;
    top: 100px;
    left: 360px;
}

.match h1 {
    margin-top: 60px;
}

  /*---activity---*/
.activity-wrapper {
    background-color: white;
    height: 800px;
    color: black;
}

.slide-btn-wrapper {
    width: 500px;
    margin: 20px auto;
    color: black;
    font-size: 18px;
}
  
.slide-btn-wrapper:after {
    content: "";
    clear: both;
    display: block;
}
  
.prev-btn {
    cursor: pointer;
    float: left;
    display: none;
    position: absolute;
    height: 250px;
}
  
.next-btn {
    cursor: pointer;
    float: right;
    position: absolute;
    height: 250px;
    left: 860px;
}

.slide {
    display: none;
}

.slides {
    margin-top: 30px;
    text-align: center;
}
  
.active {
    display: block;
  }

.slide img {
    width: 380px;
    height: 250px;
}

.slide-btn {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.index-btn {
    display: inline-block;
    color: #ffffff;
    background-color: rgba(196, 4, 4,1);
    width: 40px;
    padding: 6px 0;
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
}
  
/*---interview---*/


.interview-section-top {
    text-align: center;
    height: 326px;
    
}
  
.interview-section-bottom {
    padding-top: 120px;
}
  
.interview-box {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-left: 65px;
    margin-bottom: 30px;
    color: black;
}
  
.interview-image {
    width: 250px;
    border-radius: 50%;
}


/*---contact---*/
.contact-section {
    color: #6a6a6a;
}
  
.contact-section-inner {
    padding-bottom: 70px;
}
  
.contact-section h3, .contact-section h4 {
    color: #404040;
}
  
.contact-section h4 {
    font-size: 22px;
    padding-bottom: 10px;
}
  
.contact-form input[type="text"], .contact-form textarea {
    margin: 0;
    padding: 0 10px;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.08);
    border: none;
    width: 85%;
    color: #202020;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    border-radius: 0;
    box-shadow: none;
    transition: all .3s;
    margin-bottom: 10px;
    padding: 15px;
}
  
textarea {
    height: 150px;
}
  
.contact-form {
    display: inline-block;
    vertical-align: top;
    width: 58%;
}
  
.btn-contact {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgba(196, 4, 4,1);
    color: white;
    text-shadow: 0 1px 0 rgb(109, 106, 106);
    transition: all .3s;
    margin: 10px 0;
    padding: 15px 35px;
}

.btn-contact:hover {
    color: #141961;
    cursor: pointer;
}
  
.contact-about {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}
  
.contact-about i {
    padding-right: 15px;
    font-size: 18px;
}
  
.contact-about p {
    margin: 0 0 24px;
    line-height: 24px;
}
  
.error-message {
    color: #F51414;
    height: 20px;
}


/*---footer---*/
footer {
    text-align: center;
    padding: 40px 0;
    color: #999;
    background-color: #222;
}
  
.social-icon {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    background: rgba(94, 144, 255, 0.75);
    width: 62px;
    height: 52px;
    padding-top: 13px;
    border-radius: 60%;
    color: #e3e3e3;
    font-size: 24px;
    margin: 0 15px;
}
  
.social-icon:hover{
    color: #e3e3e3;
    background-color: rgba(196, 4, 4,1);
}
  
.copyright {
    margin-top: 20px;
}  


/*---responsive---*/
.menu-icon {
    color: white;
    float: right;
    font-size: 85px;
    padding: 25px 100px;
    /* デフォルトではメニューアイコンは非表示に */
    display: none;
}
